[user]
  name = Jamie Bertram
  email = jamie.bertram@acadium.com
[alias]
  br = branch
  ch = checkout
  co = commit
  hist = log --oneline --graph --decorate --all
  pf = push --force-with-lease
  s = status
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  keepBackup = false
  prompt = false