extends typescript

snippet styles
const styles = StyleSheet.create({
  $0
});
endsnippet

snippet compdef
export interface $1Props {
  $2
}

export function $1({}: $1Props) {
  return (
    $0
  );
}
endsnippet
