extends typescript

snippet styles
const styles = StyleSheet.create({
  $0
});
endsnippet

snippet compdef
export interface $1Props {
  $2
}

export const $1:FunctionComponent<$1Props> = props => {
  return (
    $0
  );
};
endsnippet
